
/* search area */
.navbar-form {
    display: flex;
    justify-content: center;
}

.search-group {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}
.search-group .form-group .search{
    border-radius: 0px;
    height: 100%;
    border: 2px solid #333333;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 420px;
    padding:8px
}
.search-group .search-btn{
    border-radius: 0px;
    border: 2px solid #333333;
    height: 100%;
}